In [2]:
import numpy as np
import pandas as pd

In [11]:
#index lvls
outside = "G1 G1 G1 G2 G2 G2".split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [21]:
df = pd.DataFrame( np.random.randn(6,2), hier_index,['A','B'])

In [23]:
df

             A         B
G1 1  0.719827  0.639801
   2  0.141259 -1.411672
   3 -1.915554  0.318866
G2 1 -0.086703  1.093376
   2  0.542567 -0.367857
   3  0.327359 -0.966228

In [26]:
df.loc['G1'].loc[1]

A    0.719827
B    0.639801
Name: 1, dtype: float64

In [29]:
df.index.names = ['Groups','Num']

In [31]:
df

                   A         B
Groups Num
G1     1    0.719827  0.639801
       2    0.141259 -1.411672
       3   -1.915554  0.318866
G2     1   -0.086703  1.093376
       2    0.542567 -0.367857
       3    0.327359 -0.966228

In [35]:
df.loc['G2'].loc[2]['B']

-0.36785704253966345

In [39]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.719827  0.639801
G2     -0.086703  1.093376